.button-light-dark-wrapper {
  display: flex;
  flex-direction: row;
  border-width: 1px;
  border-style: solid;
  border-radius: 28px;
  overflow: hidden;
  margin-bottom: 20px;
}

.button-light-dark-segment {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 12px;
  border: none;
  outline: none;
  cursor: pointer;
  gap: 8px;
  transition: all 0.3s;
}

.button-light-dark-segment.left {
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
}

.button-light-dark-segment.right {
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.button-light-dark-segment:hover {
  opacity: 0.85;
}

.button-light-dark-segment i {
  width: 18px;
  height: 18px;
}

.button-light-dark-segment span {
  font-size: 14px;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 0.4px;
  white-space: nowrap;
}
